div.dialog {
	.font;

	div.outer {
		.opaque;

		background-color: #fff;
		left:             0;
		position:         absolute;
		top:              0;
		width:            100%;
		z-index:          1001;
	}

	div.inner {
		.border;
		.border-radius;
		.drop-shadow;

		position: absolute;
		width:    250px;
		z-index:  1002;
	}

	div.content {
		padding: 8px;
	}

	div.actions {
		.border-position(top);

		background-color: @grey-light;
		padding:          4px 8px;
		text-align:       center;

		button {
			.btn;
		}
	}
}
